<launch>
    <node pkg="sauvc" name="main" type="main.py" output="screen"/>
    <node pkg="sauvc" name="color_detection" type="color_detection.py" output="screen"/>
    <node pkg="sauvc" name="setpoint" type="setpoint" output="screen"/>
    <node name="misi1_motor" pkg="sauvc" type="misi1_motor" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    <!--<node pkg="sauvc" name="setpoint" type="setpoint" output="screen"/>-->
</launch>
